.homeButton {
  width: 8rem;
  height: 3rem;
  margin: 0.625rem;
  color: white;
  background-color: #e84a5f;
  font-weight: bold;
  border: 1px solid #485824;
}

.homeButton:hover {
  background-color: white;
  color:#e84a5f;
  border: 1px solid #e84a5f;
}

.homeButton:focus {
  background-color: white;
  color:#e84a5f;
  border: 1px solid #e84a5f;
}

.homeButton:active {
  background-color: white;
  color:#e84a5f;
  border: 1px solid #e84a5f;
}

.space {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

p {
  color: white;
}

.plotDropList {
  margin: 0.625rem;
  color: white;
  background-color: #e84a5f;
  font-weight: bold;
  border: 1px solid #485824;
}

.plotDropList:hover {
  background-color: white;
  color:#e84a5f;
  border: 1px solid #e84a5f;
}

.plotDropList:active {
  background-color: white;
  color:#e84a5f;
  border: 1px solid #e84a5f;
}

@media only screen and (max-width: 768px) {
  #first {
    order: 1;
  }
  #second {
    order: 3;
  }
  #third {
    order: 2;
  }
}

