.plantButton {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875rem;
  text-align: center;
  color: beige;
  height: 100px;
  width: 100px;
  border-width: medium;
  border-radius: 0.313rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/plant-images/pepper.png");
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}

h2 {
  display: inline-block;
  vertical-align: middle;
}
