.plot {
  border: 5px solid #fff;
  border-radius: 10px;
  border-collapse: unset;
  border-spacing: 0;
}

.plot td {
  width: 2rem;
  height: 2rem;
  background-color: #6f562a;
  border: 3px solid #93c54b;
  padding: 0;
}

.plotLabel {
  color: white;
}

table {
  height: 100%;
  width: 100%;
}

.deleteBtn {
  border: none;
  background-color: #6bac47;
  color: red;
  font-weight: bolder;
}

.dropItem {
  background: none;
  border: none;
}

.nameStyle {
  color: white;
}