@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.custmodal > div {
  text-align: center;
}

.modalBtn {
  background-color: #e84a5f;
  color: white;
}

.modalBtn:hover {
  background-color: white;
  color:#e84a5f;
  border: 1px solid #e84a5f;
}

.modalBtn:active {
  background-color: white;
  color:#e84a5f;
  border: 1px solid #e84a5f;
}